<div class="card">
  <div class="card-header">
    <h2>Adicionar transação</h2>
    <p>Não funcional</p>
  </div>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label for="qntia" class="form-label">Quantia</label>
        <input
          type="number"
          min="0"
          class="form-control"
          id="qntia"
          aria-describedby="quantia"
          disabled
        />
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Descrição</label>
        <input type="text" class="form-control" id="desc" disabled />
      </div>
      <div class="col-md-4">
        <label for="tipo" class="form-label">Tipo</label>
        <select id="tipo" class="form-select" disabled>
          <option value="despesa" selected>Despesa</option>
          <option valie="receita">Receita</option>
        </select>
      </div>
      <button type="submit" disabled class="btn btn-primary">Confirmar</button>
    </form>
  </div>
</div>
